/node_modules
/public/storage
/public/assets/*.json
/storage/*
/storage/files
/storage/debugbar
/storage/oauth-private.key
/storage/oauth-public.key
/vendor
/.idea
/dump.rdb
Homestead.json
Homestead.yaml
.env
package-lock.json
